.background {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url('../assets/background.jpg') no-repeat fixed 50% 50%;
  position: fixed;
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-header {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.article-title {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  font-size: 30px;
}

.example-card {
  max-width: 600px;
  padding: 0 0 10px;
  margin: 15px 0;
}

.example-header-image {
  background-image: url('../assets/blog_image1.jpg');
  background-size: cover;
}

.article-content {
  padding: 12px 24px 24px;
}

.article-content img {
  max-width: 100%;
}

.article-content a {
  color: #6767d2;
}

.author {
  color: #b9b9b9;
}