<div class="background"></div>
<div class="wrapper">
  <md-card class="example-card">
    <div class="article-header">
      <div class="article-title">Awesome article veeeeeeeeeery long title, realy, fakt ozaj</div>
      <img md-card-image src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Common-dog-behaviors-explained.jpg?itok=FSzwbBoi">
    </div>
    <md-card-content class="article-content">
      <p class="author">Author: John Doe | 19.7.2017</p>
      <p>
        Paragraph - some blog of text. Paragraph - some blog of text. Paragraph - some blog of text. Paragraph - some blog of text.
        Paragraph - some blog of text. Paragraph - some blog of text. Paragraph - some blog of text. Paragraph - some blog of text.
      </p>
      List of items:
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
      </ul>
      Image inside blog post
      <img src="https://www.proprofs.com/flashcards/topic/images/p18l30ibcnohmsc2so45sb165s3.png?v=4" title="My little dog">
      <h2>Subheader</h2>
      <h3>Even smaller subheader</h3>
      <a href="https://en.wikipedia.org/wiki/Dog" target="_blank">Link to external source</a>
    </md-card-content>
  </md-card>

</div>
